#
# EcoEnchants
# by Auxilor
#

allow-on-npc: false # If enchantments should activate against NPCs.

commands:
  enchantinfo:
    show-target-group: true # Show name of target group rather than individual items

anvil:
  rework-cost: false # Use vanilla rework penalty
  allow-unsafe-levels: false # Allow unsafe enchantments like Sharpness 6 by combining 2 Sharp 5.
  allow-combining-unsafe: true # Allow further combining unsafe levels, eg Sharp 6 + Sharp 6 = Sharp 7.
  allow-existing-unsafe-levels: true # Allow combining existing unsafe enchantments like Sharpness 6

  cost-exponent: # Increase value of each extra level by the exponent^levels
    enabled: true # Use exponent
    exponent: 0.95 # Exponent. Beware that slight changes to this value may cause huge changes in cost.

  hard-cap: # Completely limit the amount of enchantments that can be placed on an item
    enabled: false # Enable a hard cap
    cap: 10 # Most enchantments allowed on an item

lore:
  use-numerals: true
  use-numbers-above-threshold: 10 #After level 10, enchantments will display as Name Number, eg: Sharpness 25 instead of Sharpness XXV

  sort-by-type: false # Sort enchantments by type
  sort-by-length: false # Sort enchantments by length
  sort-by-rarity: false # Sort enchantments by rarity.
  # Any combination of the above options is valid

  require-target: true # Only display items included in target.yml

  type-ordering: # Only used if sort-by-type is enabled - top to bottom
    - normal
    - special
    - artifact
    - spell
    - curse

  rarity-ordering: # Only used if sort-by-rarity is enabled - top to bottom
    - common
    - uncommon
    - rare
    - epic
    - legendary
    - special
    - veryspecial

  describe: # Describe enchantments in lore
    enabled: false
    before-lines: 5 # Describe before or equal to number of enchantments
    wrap: 30 # Word wrap after number of characters

  # Ensure that describe and shrink have no overlap as this may cause errors

  shrink: # Collapse large amount of enchantments
    enabled: true
    after-lines: 9 # Collapse after number of enchantments
    maximum-per-line: 2 # Maximum number of enchantments to have in 1 line

enchanting-table:
  enabled: true #Enable EcoEnchants through an enchanting table
  book-times-less-likely: 2 #Times less likely to get an EcoEnchant on a book to balance them out. Don't recommend editing.
  maximum-obtainable-level: 30 #Max level for enchanting table. Vanilla default is 30, change if you have a plugin that edits this.
  special-bias: 0.7 # Value between 0-1 dictating rarity of high-level special enchantments. 0 is no extra bias, 1 is only level 1.
  notify-on-special: true # Tell player in chat when they get a special enchantment

  cap-amount: # Prevent getting above a certain amount of enchantments
    enabled: true # Enable capping
    limit: 5 # Cap at amount

  reduce-probability: # Reduce probability of adding new enchantment by factor after each enchantment added
    enabled: true # Enable reduction
    factor: 2.2 # Factor to reduce probability by. Done as compound, so second pass is (factor) times less likely than first, third less likely than second, etc

villager:
  enabled: true #Enable EcoEnchants through villagers
  book-times-less-likely: 7 # Times less likely to get an enchantment from a book with a villager. Recommended to be higher as books can only have one enchantment on them.

  reduce-probability: # Reduce probability of adding new enchantment by factor after each enchantment added. Does not apply to books as they only ever contain one enchantment.
    enabled: true # Enable reduction
    factor: 5 # Factor to reduce probability by. Done as compound, so second pass is (factor) times less likely than first, third less likely than second, etc

loot:
  enabled: true #Enable EcoEnchants through loot chests
  book-times-less-likely: 2

  reduce-probability: # Reduce probability of adding new enchantment by factor after each enchantment added. Does not apply to books as they only ever contain one enchantment.
    enabled: true # Enable reduction
    factor: 7.5 # Factor to reduce probability by. Done as compound, so second pass is (factor) times less likely than first, third less likely than second, etc

types:
  special:
    allow-multiple: false # Allow multiple special enchantments on a single item
  artifact:
    allow-multiple: false # Allow multiple artifacts on a single item (can cause lag!)

rarity:
  vanilla-rarity: uncommon # Vanilla enchantments do not have an EcoEnchants rarity - what rarity should they have?
  vanilla-treasure-rarity: legendary # Treasure enchantments do not appear in vanilla enchanting tables (Mending, Soul Speed, Frost Walker)
  # The above options *do not* affect actual enchantment rarities. They are purely for cosmetic purposes, like in item lores.

advanced:
  force-dropqueue: true
  # When combined with collate, this massively reduces calls to getItemMeta, which can hurt performance when many enchants are on an item.
  # Without collate, the number of calls may be increased - which will further hurt performance
  # Enabling this option makes all drops go through telekinesis listeners
  lore-getter:
    # This converts enchantments with matching names from other enchantment plugins from lore into real enchantments.
    # This is experimental not recommended to be used for extended periods of time: enchantments are automatically converted.
    # Only use this if absolutely necessary as it may cause some bugs.
    enabled: false
    aggressive: false
    # Aggressive mode converts all items in all inventories when opened.
    # This will most likely have a significant performance penalty.
  hide-fixer:
    # Fixes some items obtained in older versions with a bug that caused enchantments to be hidden.
    # Works both in packets to display the enchants to the client as well as changing the server-side item too.
    # Only use this option if you've encountered this bug as it may strip HideEnchants from items that you might not expect it to.
    enabled: false
    aggressive: false
    # Aggressive mode converts all items in all inventories whenever revealed.
    # This may impact performance.
    force: false # If **all** items should have hide enchants removed - absolute last ditch effort, most likely to break other things.